body ul ol li p h1 h2 h3 h4 h5 h6 font table div img 
body{font-family: "微软雅黑";list-style: none;}
.d{margin:0 auto;}
a{text-decoration:none;color:#eba465;}
a:hover{color:red;}
.nav{width: 1200px;
      height: 100px;
      background-color: #272727;
         }
.logo{background:url(../images/logo2.png);
      width: 100px;
      height: 100px;
      margin-top: -100px;
      margin-left: 100px;}
.nav-font ul li{display: inline-block;
                color:white ;
                font-size: 17;
                font-weight: bolder;
                margin-left: 50px;
                padding-top: 35px;
                position: relative;
                left:200px;}
.main{background:url(../images/de.jpg);
      width: 1200px;
      height: 556px;
      
      }
.main-border{border-bottom: 2px solid gray;
             width: 800px;
             margin-top: 20px;}
              
.main-img{background-color: white;
      width: 1200px;
      height: 600px;
      margin-top: 40px;
      
      }
.main-mid{background: url(../images/timg.jpg);
      width: 487px;
      height: 470px;
      margin-top:-520px;
      
      }
.flash{background: url(../images/fei.gif);
      width: 414px;
      height: 302px;
      position: relative;
      top:35px;
      left:28px;}
.font{font-size: 20px;
          font-weight: bolder;
          text-align: center;
          color: black;
          margin-top: -350px;}
 .main-border{border-bottom: 2px solid gray;
             width: 800px;
             margin-top: 50px;}         
          
          
 .guild{background-color:white;
      width: 1200px;
      height: 373px;
      margin-top: 0px;
      } 
  .guild-img{background: url(../images/st.jpg);
              width: 300px;
              height: 176px;
              float: left;
              }    
  .guild-font{font-size: 30px;
             color: black;
             font-weight: bold;
             margin-top: 76px;
             margin-left: 320px;
             text-indent: ;
             }    
  .guild-text{font-size: 20px;
             color: gray;
             margin-top: 0px;
             margin-left: 0px;
             text-indent:2em ;}    
   .guild-sport{font-size: 30px;
             color: black;
             font-weight: bold;
             margin-top: 30px;
             margin-left: 10px;   
      }
   .guild-content{font-size: 20px;
             color: gray;
             margin-top: 0px;
             margin-left: 0px;
             text-indent:2em ;}        
  .guild-omg{background: url(../images/yao.jpg);
              width: 300px;
              height: 176px;
              float:right;
              margin-top: -17px;}
      
      
      
      
      
      
      
 .summary{background-color: white;
      width: 1200px;
      height: 400px;
      margin-top: 40px;
      } 
.menu-cygk ul li{
		            display: inline-block;
		            padding-left:60px ;
}
.menu-font ul li{font-size: 20px;
                 display: inline-block; 
                 padding-left:145px ;
                 }
.footer{background-color: gray;
      width: 1200px;
      height: 300px;
      margin-top: 0px;} 
.summary-title{font-size: 30px;
              font-weight: bolder;
              color: gray;
              text-align: center;
             
               }  
               
               
.footer{
		width:1200px;	
		height:350px;
		background:#272727;
		margin-top:50px;
	}
	
	.footer-font{
		font-size:30px;
		font-weight:bolder;
		text-align:center;
		color: white;
		padding-top: 30px;
	}
	
	.content{
		font-size:25px;
		font-weight:bolder;
		margin:20px 0px 0px 100px;
		color:#c7cacc ;
	}
	
	.people{
		font-size:18px;
		font-weight:bolder;
		margin-top:30px;
		margin-left:80px;
		line-height:25px;
		color:#c7cacc ;
	}
	.border{
		border-bottom:2px solid black;
		width:150px;
		margin-left:80px;
	}
	
	.tab{
		font-size:18px;
		font-weight:bolder;
		margin-left:80px;
		line-height:25px;
		color:#c7cacc ;
	}
	.border-nav{
		border-bottom:2px solid black;
		width:150px;
		margin-left:80px;
	}
	.msg{
		font-size:18px;
		font-weight:bolder;
		margin-left:80px;
		line-height:25px;
		color:#c7cacc ;
	}
	
	.service{
		font-size:25px;
		font-weight:bolder;
		margin:-220px 0px 0px 450px;
	}
	
	.service-search{
		font-size:19px;
		font-weight:bolder;
		margin:20px 0px 0px 450px;
		color:#c7cacc ;
	}
	
	.service-form{
		font-size:19px;
		font-weight:bolder;
		margin:20px 0px 0px 450px;
		color:#c7cacc ;
	}
	
	.service-label input{
		margin:20px 0px 0px 450px;
	}
	
	.service-button input{
		margin:10px 0px 0px 450px;
	}
	
	.banner-label input{
		width:60px;
		background:white;
		margin:10px 0px 0px 630px;
		text-align:center;
	}
	
	.download{
		font-size:25px;
		font-weight:bolder;
		margin:-225px 0px 0px 820px;
		color:#c7cacc ;
	}
	
	.download-list{
		font-size:19px;
		font-weight:bold;
		margin:20px 0px 0px 820px;
		color:#c7cacc ;
	}
	
	.download-bottom{
		font-size:25px;
		font-weight:bolder;
		margin:45px 0px 0px 940px;
		color:#c7cacc ;
	}
      